/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/* style for pagination */
[role="navigation"][aria-label="Pagination"] a,
[role="navigation"][aria-label="Pagination"] span,
[role="navigation"][aria-label="Pagination"] em {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  text-decoration: none;
  display: inline-block;
}

[role="navigation"][aria-label="Pagination"] a {
  background-color: white;
  color: #374151;
  transition: background-color 0.2s;
}

[role="navigation"][aria-label="Pagination"] a:hover {
  background-color: #f9fafb;
}

[role="navigation"][aria-label="Pagination"] .current {
  background-color: #2563eb;
  border-color: #2563eb;
  color: white;
  font-style: normal;
}

[role="navigation"][aria-label="Pagination"] .disabled {
  background-color: #f3f4f6;
  color: #9ca3af;
  cursor: not-allowed;
}